<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.VIBRATE" />

	<queries>
		<intent>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
		</intent>
	</queries>

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		tools:targetApi="31">

		<activity
			android:name=".SettingsActivity"
			android:exported="true"
			android:theme="@style/Theme.NVGTBridge">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<service
			android:name=".NvgtBridgeService"
			android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
			android:exported="true">
			<intent-filter>
				<action android:name="android.accessibilityservice.AccessibilityService" />
			</intent-filter>
			<meta-data
				android:name="android.accessibilityservice"
				android:resource="@xml/accessibility_service_config" />
		</service>

		<service
			android:name=".BridgeTileService"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/tile_label"
			android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
			android:exported="true">
			<intent-filter>
				<action android:name="android.service.quicksettings.action.QS_TILE" />
			</intent-filter>
		</service>

	</application>

</manifest>